.brands {
  background: color('grey');
  margin: 0 auto;
  padding: 21px 15%;

  @include mq('tablet') {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  img {
    width: unset;
    height: fit-content;
  }
}
